#map {
    height: 600px; 
    width: 100%
}

.leaflet-tile {
    filter: grayscale(100%) !important;
}


#dropDownWochentag select {
    width: 200px;  /* Breite des Dropdowns */
    padding: 8px;  /* Innenabstand für bessere Lesbarkeit */
    border: 0.2em solid #E3DCEC;  /* Rahmen des Dropdowns */
    border-radius: 4px;  /* Abgerundete Ecken */
    font-size: 16px;  /* Schriftgröße */
}

#dropDownWochentag select:focus {
    border-color: #5D2D9A;  /* Farbe des Rahmens beim Fokussieren */
    outline: none;  /* Entfernt den Standard-Browser-Fokusrahmen */
}

