#map {
    height: 600px; 
    width: 100%
}

.leaflet-tile {
    filter: grayscale(100%) !important;
}


#dropDownWochentag select {
    width: 200px;  /* Breite des Dropdowns */
    padding: 8px;  /* Innenabstand für bessere Lesbarkeit */
    border: 0.2em solid #E3DCEC;  /* Rahmen des Dropdowns */
    border-radius: 4px;  /* Abgerundete Ecken */
    font-size: 16px;  /* Schriftgröße */
}

#dropDownWochentag select:focus {
    border-color: #5D2D9A;  /* Farbe des Rahmens beim Fokussieren */
    outline: none;  /* Entfernt den Standard-Browser-Fokusrahmen */
}


canvas {
    width: 100%; /* Vollbreite innerhalb des jeweiligen `div` */
    max-width: 100%; /* Stellt sicher, dass die Leinwand nicht breiter als das `div` ist */
}

h3 {
    text-align: center; /* Zentriert die Überschriften */
    margin-bottom: 0.5em; /* Kleiner Abstand unter den Titeln */
}

#dropDownWochentag {
    width: 100%; /* Stellt sicher, dass das Dropdown die volle Breite seines `div` einnimmt */
    padding: 1rem 0; /* Vertikaler Abstand vor und nach dem Dropdown */
    box-sizing: border-box; /* Beinhaltet Padding und Border in der Breite */
}

select {
    width: 100%; /* Vollbreite des Dropdown */
    padding: 0.5em; /* Komfortables Innenpolster */
    margin: 0 auto; /* Zentriert das Dropdown-Menü horizontal */
    display: block; /* Stellt sicher, dass das Element die Breite korrekt ausfüllt */
}


