body {
    background-color: #E3DCEC;
}

.startScreen h1, .startScreen p {
    color: #ec5c3c;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    text-align: left;
    padding: 2rem;
    width: calc(100% - 4rem);
    box-sizing: border-box;
}

.header-image {
<<<<<<< HEAD
    width: 100px; 
    height: auto; 
    position: absolute; /* Absolute Positionierung */
    top: 2rem; /* Abstand vom oberen Rand */
    right: 2rem; /* Abstand vom rechten Rand */
    max-width: 10%; /* Maximal 10% der Bildschirmbreite */
}

#mapContainer {
    padding: 2%; /* Rand um die Karte */
    background-color: #5D2D9A; /* Violetter Hintergrund */
    margin: 0 auto; /* Zentriert den Container */
    max-width: 100%; /* Begrenzt die maximale Breite des Containers */
=======
    width: 100px;
    height: auto;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#mapContainer {
    padding: 7%;
    background-color: #5D2D9A;
    margin: 0 auto;
    max-width: 100%;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
    box-sizing: border-box;
}

#map {
    width: 100%;
}

.leaflet-tile {
    filter: grayscale(100%) !important;
}

#dropDownWochentag {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
}

#dropDownWochentag select {
    width: 33%;
    padding: 8px;
    border: 0.2em solid #E3DCEC;
    border-radius: 4px;
    font-size: 16px;
}

#dropDownWochentag select:focus {
    border-color: #5D2D9A;
    outline: none;
}

canvas {
    width: 100%;
    max-width: 100%;
}

<<<<<<< HEAD

select {
    width: 100%; /* Vollbreite des Dropdown */
    padding: 0.5em; /* Komfortables Innenpolster */
    margin: 0 auto; /* Zentriert das Dropdown-Menü horizontal */
    display: block; /* Stellt sicher, dass das Element die Breite korrekt ausfüllt */
=======
.popup-content {
    padding: 2em;
    background: white;
    border-radius: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content b {
    font-size: 1.2em;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    #map {
        height: 300px;
    }

    .startScreen h1 {
<<<<<<< HEAD
        font-family: abhaya Libre, bold; /* Serifenlose Schriftart */
        font-size: 2em; /* Reduziere die Schriftgröße für kleinere Bildschirme */
        line-height: 1.2; /* Kleineren Zeilenabstand für h1 */
=======
        font-family: 'Abhaya Libre', bold;
        font-size: 2em;
        line-height: 1.2;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
    }

    .startScreen p {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        line-height: 1.2;
    }

    .header-image {
        width: 50px;
        top: 1rem;
        right: 1rem;
    }

    #dropDownWochentag {
        width: 100%;
        padding: 1rem 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    
    #dropDownWochentag select {
        width: 33%;
        padding: 8px;
        border: 0.2em solid #E3DCEC;
        border-radius: 4px;
        font-size: 16px;
    }    

    .popup-content {
<<<<<<< HEAD
        width: 90%; /* Maximal 90% der Bildschirmbreite auf mobilen Geräten */
        max-width: 300px; /* Höchstens 300px breit */
        padding: 10px; /* Innenabstand für das Popup */
    }

    .popup-content canvas {
        max-width: 100%; /* Stellen Sie sicher, dass das Canvas-Element nicht breiter als sein Container ist */
=======
        width: 90%;
        max-width: 300px;
    }

    .popup-content canvas {
        padding: 10px;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #map {
        height: 500px;
    }

    .startScreen h1 {
        font-family: 'Abhaya Libre', bold;
        font-size: 3em;
        line-height: 1.5;
    }

    .startScreen p {
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        line-height: 1.5;
    }

    .header-image {
        width: 75px;
        top: 1.5rem;
        right: 1.5rem;
    }

    .popup-content {
        width: 80%;
        max-width: 400px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    #map {
        height: 600px;
    }

    .startScreen h1 {
        font-family: 'Abhaya Libre', bold;
<<<<<<< HEAD
        font-size: 5em;
=======
        font-size: 3em;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
        line-height: 1.5;
        padding-top: 1em;
    }

    .startScreen p {
<<<<<<< HEAD
        font-family: Lato, sans-serif; /* Serifenlose Schriftart */
        font-size: 2.0em; /* Größere Schriftgröße für Desktops */
=======
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
        line-height: 1.5;
    }

    .header-image {
<<<<<<< HEAD
        width: 300px; /* Standardbreite für Desktops */
        top: 2rem; /* Abstand vom oberen Rand */
        right: 2rem; /* Abstand vom rechten Rand */
        max-width: 15%; /* Maximal 10% der Bildschirmbreite */
=======
        width: 100px;
        top: 2rem;
        right: 2rem;
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
    }

    .popup-content {
<<<<<<< HEAD
        align-items: center;
        width: 80%; /* Maximal 70% der Bildschirmbreite auf Desktops */
        max-width: 500px; Höchstens 500px breit
    }

    .popup-content canvas {
        max-width: 100%; /* Stellen Sie sicher, dass das Canvas-Element nicht breiter als sein Container ist */
    }
}


.popup-content {
    padding: 5px; /* Fügen Sie ein wenig Innenabstand hinzu */
    background: white; /* Hintergrundfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
}

.popup-content b {
    font-size: 1.2em; /* Schriftgröße für den Text im Popup */
}

.leaflet-popup-content {
    width: 300px; /* Breite des Popups */
} 

.leaflet-popup {
    width: 300px; /* Breite des Popups */
}


=======
        width: 70%;
        max-width: 500px;
    }
}
>>>>>>> 90b3f34c7e4a9fd65f819df4ae6c1c5f97f1414e
